/* TYPOGRAPHY AND FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Signika+Negative&display=swap');

/* CSS VARIABLES */
:root{
    --primary-color:#E5BD60;
    --primary-color-light:#e5bd603b;
}

/* UNIVERSAL CSS */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: Montserrat, serif;
    color: #212121;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-size: var(--h1-size);
    font-weight: 500;
    line-height: var(--h1-size);
}
h2{
    font-size: var(--h2-size);
    font-weight: bold;
}
h3{
    font-size: var(--h3-size);
    font-weight: 500;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.text{
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    line-height: 1.3rem;
}
.contact-button{
    text-align: center;
    display: inline;
    color: white;
    background-color: #212121;
    width: fit-content;
    padding: 18px 25px;
    border-radius: 30px;
}
#about-me-contacts{
    margin-top: 40px;
}
#about-me-contacts > a{
    text-decoration: none;
}
.contact-button:hover{
    background-color: #313131;
    transition: all 0.3s;
}
.fa-brands{
    font-size: 25px;
    margin: 0 2px;
    padding: 14px 15px;
    background-color: white;
    border-radius: 100%;
}
.fa-brands-linkedin{
    padding: 13px 15px;
}
.fa-brands-linkedin:hover{
    background-color: #0A66C2;
    transition: all 0.3s;
    color: white;
}
.fa-brands-git:hover{
    background-color: #6e5494;
    transition: all 0.3s;
    color: white;
}
.fa-brands-twitter:hover{
    background-color: #00acee;
    transition: all 0.3s;
    color: white;
}
.socials-containter{
    display: inline;
    padding: 0;
}
@media (max-width:768px){

    #about-me-contacts{
        margin-top: 20px;
        font-size: 15px;
    }
    .contact-button{
        display: block;
        width: 100%;
        padding: 15px 20px;
    }
    .fa-brands{
        margin: 15px 5px 0 5px;
    }
    .socials-containter{
        display: flex;
        justify-content: space-evenly;
    }
}

/* HEADER */
nav{
    height: 0;
    width: 100%;
    margin-bottom: 13vh;
}
label.logo{
    font-size: 20px;
    line-height: 50px;
    padding: 0 0 0 15px;
    font-weight: bold;
    color: var(--primary-color);
}
nav ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #212121;
}
a:hover, .active{
    color: orange;
    transition: .5s;
}
.checkbtn{
    font-size: 25px;
    float: right;
    line-height: 50px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:768px){
    label.logo{
        font-size: 20px;
    }
    nav ul li a{
        font-size: 10px;
    }
    html{
        font-size: 10px;
    }
}
@media (max-width:570px){

    .active{
        color: #212121;
    }
    nav{
        margin-bottom: 10vh;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        top: 40px;
        font-weight: bold;
        left: -100%;
        text-align: center;
        opacity: 0;
        transition: all .3s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav li ul a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
        opacity: 1;
    }
}

/* ABOUT */
#profile-pic{
    padding: 20px;
}
#profile-pic-inside {
    background: url(/assets/img_resources/profile.png);
    height: 70vh;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: var(--primary-color) 0 0 70px;
}
#about-me{
    padding: 20px;
}
#about-me-inside{
    padding: 45px;
    background-image: url(/assets/img_resources/blur.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
}
.about-me-text{
    font-size: 20px;
    margin-top: 50px;
    width: 90%;
}
.about-me-heading{
    font-weight: bolder;
    max-width: 80%;
}
@media (max-width:992px){
    #about-me-inside{
        padding: 40px;
    }
    
    .about-me-heading{
        font-size: 25px;
    }
    .about-me-text{
        margin-top: 30px;
        width: 100%;
        font-size: 17px;
    }
}
@media (max-width:768px){
    #about-me-inside{
        height: auto;
        padding: 30px;
    }
    #profile-pic-inside{
        height: 50vh;
        box-shadow: var(--primary-color) 0 0 30px;
    }
    .about-me-heading{
        font-size: 20px;
    }
    .about-me-text{
        margin-top: 20px;
        width: 100%;
        font-size: 15px;
    }

}
/* @media (max-width:1000px){
    #profile-pic-inside{
        height: 50vh;
    }
} */

/* PROJECTS */
#projects {
    text-decoration: none;
}
.fa-code-fork{
    padding: 12px 15px;
    background-color: none;
    color: white;
    font-size: 20px;
    transition: all .3s;
    border-radius: 100px;
}
.fa-code-fork:hover{
    color: #212121;
    background-color: white;
}
.fa-code-fork:hover ~ .thick-7{
    --d: 0;
}
.project-element{
    margin: 20px;
    height: 70vh;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
}
.col-md-6 a{
    text-decoration: none;
}
.project-element-inside{
    text-shadow: wheat 0 0 5px;
    color: white;
    padding: 30px;
}
.project-element-inside h2{
    font-weight: bold;
}
.project-element-1{
    background-image: url(/assets/img_resources/project1.png);
    background-position: center;
    background-size: cover;
}
.project-element-2{
    background-image: url(/assets/img_resources/project2.png);
    background-position: center;
    background-size: cover;
}
.thick-7 {
    font-size: 25px;
    display: inline;
    padding: 5px 10px;
    color: white;
    background:
      linear-gradient(rgba(255, 255, 255, 0.23) 0 0) 
      left /var(--d, 0%) 100% no-repeat;
    transition: 0.5s;
    cursor: pointer;
  }
.thick-7:hover{
    --d:100%;
}
.project-element-1:hover{
    box-shadow: skyblue 0 0 70px;
    color: #fff;
}
.project-element-2:hover{
    box-shadow: #CECCC7 0 0 70px;
    color: #fff;
}

@media (max-width:768px){
    .project-element{
        height: 50vh;
    }
    .thick-7{
     text-shadow: none;
     color: white;
     border-radius: 10px;
     background:linear-gradient(#212121 0 0);
    }
}
@media (max-width:992px){
    .project-element-inside h2, .project-element-inside h3, .fa-code-fork, .thick-7{
        font-size: 20px;
    }
}
/* LETSTALK */
#letstalk-me-inside{
    padding: 45px;
    background-image: url(/assets/img_resources/blur.jpg);
    background-position: center;
    margin: 20px;
    background-size: cover;
    border-radius: 30px;
    overflow: hidden;
}
.letstalk-me-text{
    font-size: 20px;
    margin-top: 20px;
    width: 90%;
}